---
- name: Install K3s | Run install script on tainted master | Proxmox
  tags:
    - k3s
    - install
    - tainted_master
    - with_shell
  ansible.builtin.shell: >
    INSTALL_K3S_VERSION={{ k3s.version }}
    K3S_KUBECONFIG_MODE="644"
    INSTALL_K3S_EXEC="--cluster-init
    --disable servicelb
    --disable traefik
    --node-taint node-role.kubernetes.io/master=true:NoSchedule"
    {{ k3s.path.install }}
  args:
    creates: "{{ k3s.path.bin }}"
