#ignore terraform init files
/terraform/.terraform/
/terraform/.terraform.lock.hcl*

/terraform/terraform.tfstate*

#ignore ansible ppk file dir
/ansible/ansible_ssh_private_key_dir/proxmox_k3s-vc

#ignore vagrant configuration files
.vagrant/