#ignore terraform init files
/terraform/.terraform/
/terraform/.terraform.lock.hcl*

/terraform/terraform.tfstate*

#ignore ansible ppk file dir
# /ansible/ansible_key_vault/

#ignore vagrant configuration files
.vagrant/