---
# defaults file for k3s-init

# specify Vagrant usage
use_vagrant: false

# temporary directory (marked for removal)
tmp_dir: /tmp/k3s-init

# K3s variables
k3s:
  version: v1.30.4+k3s1
  path:
    bin: /usr/local/bin/k3s
    install: "{{ tmp_dir }}/k3s_install.sh"
    node_token: /var/lib/rancher/k3s/server/node-token
    server_uninstall_bin: /usr/local/bin/k3s-uninstall.sh
    agents_uninstall_bin: /usr/local/bin/k3s-agent-uninstall.sh
