---
- name: Included task for Vagrant deployer master
  block:
    - name: Install K3s | Run install script on deployer master | Vagrant
      tags:
        - k3s
        - install
        - tainted_master
        - with_shell
      ansible.builtin.shell: >
        INSTALL_K3S_VERSION={{ k3s.version }}
        K3S_KUBECONFIG_MODE="644"
        INSTALL_K3S_EXEC="
        --cluster-init
        --disable servicelb
        --disable traefik
        --node-ip {{ hostvars[inventory_hostname].ansible_eth1.ipv4.address }}
        --flannel-iface eth1"
        {{ k3s.path.install }}
      args:
        creates: "{{ k3s.path.bin }}"
      register: reg_k3s_tainted_master
      notify: "remove_tmp"

  rescue:
    - name: ERROR | Run install script on deployer master | Display error lines
      tags:
        - error_handling
        - with_debug
      ansible.builtin.debug:
        msg: "{{ reg_k3s_tainted_master.stderr_lines }}"

    - name: ERROR | Run install script on deployer master | Attempt restarting service
      tags:
        - error_handling
        - with_module
      ansible.builtin.systemd_service:
        name: k3s
        state: restarted
      register: reg_k3s_tm_service_status

    - name: ERROR | Run install script on deployer master | Uninstall remaining K3s files
      tags:
        - error_handling
        - with_shell
      ansible.builtin.shell: "{{ k3s.path.server_uninstall_bin }}"
      args:
        removes: "{{ k3s.path.bin }}"
      when: reg_k3s_tm_service_status.state != "started"

  always:
    - name: Install K3s | Verify K3s installation on deployer master
      tags:
        - verify
        - with_debug
      ansible.builtin.debug:
        msg: "{{ reg_k3s_tainted_master.stdout_lines }}"
