---
- name: Included task for Vagrant tainted master
  block:
    - name: Install K3s | Run install script on tainted master | Vagrant
      tags:
        - k3s
        - install
        - tainted_master
        - with_shell
      ansible.builtin.shell: >
        INSTALL_K3S_VERSION={{ k3s.version }}
        K3S_KUBECONFIG_MODE="644"
        INSTALL_K3S_EXEC="--cluster-init
        --disable servicelb
        --disable traefik
        --node-taint node-role.kubernetes.io/master=true:NoSchedule
        --node-ip {{ hostvars[inventory_hostname].ansible_eth1.ipv4.address }}
        --flannel-iface eth1"
        {{ k3s.path.install }}
      args:
        creates: "{{ k3s.path.bin }}"
      register: reg_k3s_tainted_master
      notify: "remove_tmp"

  rescue:
    - name: ERROR | Run install script on tainted master | Display error lines
      tags:
        - error_handling
        - with_debug
      ansible.builtin.debug:
        msg: "{{ reg_k3s_tainted_master.stderr_lines }}"

    - name: ERROR | Run install script on tainted master | Uninstall remaining K3s files
      tags:
        - error_handling
        - with_shell
      ansible.builtin.shell: "{{ k3s.path.server_uninstall_bin }}"
      args:
        removes: "{{ k3s.path.bin }}"

  always:
    - name: Install K3s | Verify K3s installation on tainted master
      tags:
        - verify
        - with_debug
      ansible.builtin.debug:
        msg: "{{ reg_k3s_tainted_master.stdout_lines }}"
