---
- name: K3s Server and Agents Install
  hosts: all
  become: true
  vars:
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
  roles:
    - k3s-init

- name: K3s Components Install
  hosts: server
  become: true
  vars:
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
  roles:
    - k3s-components