---
# defaults file for k3s-components

# temporary directory (marked for removal)
tmp_dir: /tmp/k3s-components

# .Kube directory
kube_dir_path: /root/.kube/

# namespaces
cluster_ns:
  metallb: metallb-system
  cert: cert-manager
  rancher: cattle-system
  longhorn: longhorn-system
  externaldns: external-dns

# K3s variables
k3s:
  path:
    conf_src: /etc/rancher/k3s/k3s.yaml

# Metallb variables
metallb:
  version: v0.14.8
  ippool: 10.0.0.150-10.0.0.199
  pool_name: first-pool
  path:
    manifest: "{{ tmp_dir }}/metallb-native.yaml"
    ipaddresses: "{{ tmp_dir }}/ipaddresses.yml"
    layer2: "{{ tmp_dir }}/layer2.yml"

# Helm variables
helm:
  path:
    bin: /usr/local/bin/helm

# Cert Manager variables
cert_manager:
  version: v1.15.2
  path:
    creds: "{{ tmp_dir }}/cert-manager.crds.yaml"

#Nginx Ingress Controller variables
nginxingresscontroller:
  version: v3.7.0
  path:
    install: "{{ tmp_dir }}/kubernetes-ingress"
    ns-and-sa: "{{ tmp_dir }}/kubernetes-ingress/deployments/common/ns-and-sa.yaml"
    rbac: "{{ tmp_dir }}/kubernetes-ingress/deployments/rbac/rbac.yaml"
    nginx-config: "{{ tmp_dir }}/kubernetes-ingress/deployments/common/nginx-config.yaml"
    ingress-class: "{{ tmp_dir }}/kubernetes-ingress/deployments/common/ingress-class.yaml"
    crds: "{{ tmp_dir }}/crds.yaml"
    nginx-ingress: "{{ tmp_dir }}/kubernetes-ingress/deployments/deployment/nginx-ingress.yaml"
    loadbalancer: "{{ tmp_dir }}/kubernetes-ingress/deployments/service/loadbalancer.yaml"
    
#External-DNS variables
externaldns:
  piholepassword: supersecret
  piholeip: https://10.0.0.69
  path:
    manifest: "{{ tmp_dir }}/external-dns.yml"

# Rancher variables
rancher:
  hostname: rancher.homelab.local
  bootstrapPassword: admin

# Longhorn variables
longhorn:
  version: 1.7.0
