---
- name: Prepare pre-requisites
  block:
    - name: Prepare pre-requisites | Install Python3-pip
      ansible.builtin.apt:
        name: python3-pip
      register: pip_install_result
      until: pip_install_result is succeeded
      retries: 5
      delay: 15

    - name: Prepare pre-requisites | Install Python3-REQ
      ansible.builtin.pip:
        name:
          - pyyaml
          - kubernetes
          - jsonpatch
          
    - name: Prepare pre-requisites | Create temporary directory
      ansible.builtin.file:
        path: "{{ tmp_dir }}"
        state: directory
        mode: '0755'

- name: Install K3s
  block:
    - name: Install K3s | Download install script
      ansible.builtin.get_url:
        url: https://get.k3s.io
        dest: "{{ k3s.path.install }}"
        mode: '0755'
    
    - name: Install K3s | Run install script
      ansible.builtin.shell: INSTALL_K3S_VERSION={{ k3s.version }} K3S_KUBECONFIG_MODE="644" INSTALL_K3S_EXEC="agent" K3S_URL=https://{{ hostvars['k3s-master-01'].ansible_default_ipv4.address }}:6443  K3S_TOKEN={{ hostvars['localhost'].k3s_token }} {{ k3s.path.install }}
      args:
        creates: "{{ k3s.path.bin }}"
        
    - name: Install K3s | Verify installation
      ansible.builtin.command: k3s --version 
      register: k3s_ver

    - name: Install K3s | Output version
      tags: debug
      ansible.builtin.debug:
        msg: "Successfully installed version: {{ k3s_ver.stdout }}"
  notify: "remove_tmp"